.page{
    width: 100%;
}
.mainUpload{
    width: 100%;
}

.uploadmaintitle{
    cursor: pointer;
    font-family: Cookie;
    margin-top: 5px;
    margin-left: 20px;
    font-size: 50px;
    font-weight: bold;
    color: #343434;
}
.uploadtitle{
    text-align: center;
    font-size: 100px;
    font-family: Cookie;
}

.uploadform{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.caption{
    width: 60%;
    font-family: Roboto !important;
    font-weight: 300 !important;
    color: lightgrey;
    padding: 14px;
    margin: 10px 20px;
    border-radius: 9px;
    border: 1px solid lightgrey;
}
.caption:active{
    border-color: #343434;
    border-radius: 9px;
    
}
.caption:focus{
    border: none;
    color: #343434;
}
.caption:hover{
    border-color: #343434;
    border-radius: 9px;
}

.selector{
    margin: 0 auto;
    border: none;
    border-radius: 5px;
    font-family: Roboto !important;
    font-weight: 700 !important;
    background-color: #f4ad55 !important;
    color: white !important;
    width: 30%;
    height: 50px;
    margin: 20px !important;
}

.uploader{
    margin: 0 auto;
    border-radius: 5px;
    border: none;
    font-family: Roboto !important;
    font-weight: 700 !important;
    color: white !important;
    height: 50px;
    width: 30%;
    background-color: #f1705b !important;
    margin: 20px 20px 30px 20px !important;
}
.divider{
    border: 0.5px solid lightgrey;
    width: 300px;
}

.uploadimg{
    width: 400px;
    margin: 5px;
    border-radius: 5px;
}


@media(max-width:712px){
    .uploader, .selector{
        width: 60%;
    }
    .uploadmaintitle{        
        font-size: 40px;
    }
    .uploadtitle{
        font-size: 60px;
    }
}